@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_background1: #13111f;
    --color_background2: #05323b;
    --tittle: #7eb45c;
    --sub-title: #d8ffa7;
    --menu-icon :#b7eff6;
    --hamburguer-icon:#968444;
    --hamburguer-background:#ffe44b;
    --flecha: #b7eff6;
    --titulo-flotante: #3bbea6;
    --blanco: #ffffff;
    --negro: #000000;
    --color_background3:#13111f;
    --color_background4: #05262d;

}

/*FONNTS*/
@font-face {
    font-family: 'Tittle';
    src: url('../fonts/Tittles.otf') format('truetype');
}

/*FONNTS*/
@font-face {
    font-family: 'SubText';
    src: url('../fonts/SubText.ttf') format('truetype');
}

@font-face {
    font-family: 'Text';
    src: url('../fonts/Text.otf') format('truetype');
}



body{
    height:auto;
    overflow-x: hidden;
    width: 100vw;
    
    
    
}

.header-container{
    position: relative;
    width: 100%;
}


#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin-left: 7%;
    
    background: 
        url('../images/backgrounds/hexagon1.webp') no-repeat top left,
        url('../images/backgrounds/hexagon2.webp') no-repeat top right,
        linear-gradient(to right, var(--color_background1), var(--color_background2));
    background-size: auto, auto, cover;
    background-attachment: fixed;
    transition: 0.5s;
}

/* Asegúrate de que las secciones ocupen toda la altura necesaria */
section {
    width: 100%;
    padding: 2em;
    min-height: 100vh; /* Asegúrate de que cada sección ocupe al menos la altura de la pantalla */
}




.header-container{
    display: block;
    position: relative;
    width: 100%;
    transition: 0.5s;
    z-index: 3;
}
.navigation{
    position: fixed;
    width: 7vw;
    height: 100%;
    background: linear-gradient(to right, var(--color_background1), var(--color_background2));
    /* border-left: 15px solid var(--color_background1); */
    transition: 0.5s;
    overflow: hidden;
    
}
@media (max-width: 775px) { /* Para pantallas más pequeñas */
    .navigation {
        width: 10vw; 
    }
    .navigation.active{
        width: 20vw;
    }
    .navigation.active .icon{
        display: none;
    }
    .navigation.active li{
        padding: 1.2vw;
    }
    .navigation.active .title{
        font-size: 2vw;
        text-align: center;
        font-family: 'SubText';
    }
}

.navigation.active{
    width: 18vw;
    
}

.toggle{
    position: relative;
    /* width: 60px; */
    /* height: 60px; */
    margin-bottom: 8vh;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 3.5rem;
    cursor: pointer;
    color: var(--hamburguer-icon);
    background-color: var(--hamburguer-background);
}
.toggle:hover{
    filter: drop-shadow(0px 0px 8px var(--flecha));
    text-shadow: 0px 0px 3px var(--flecha); 
    color: var(--blanco);
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    margin-bottom: 1vh;
    /* border-top-left-radius:30px ; */
    /* border-bottom-left-radius: 30px; */
    
}

.navigation ul li:hover,
.navigation ul li.hovered{
    /* background-color: var(--blanco); */
    filter: drop-shadow(0px 0px 8px var(--flecha));
    text-shadow: 0px 0px 3px var(--flecha); 
    color: var(--blanco);
    /* color: var(--blanco); */
}

.navigation ul li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--flecha);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--sub-tittle);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width:60px;
    height:60px ;
    line-height:75px;
    text-align: center;
    margin-left: 1.5vw;
}
.navigation ul li a .icon  ion-icon{
    font-size: 1.8rem;
}
.navigation ul li.curriculum{
    margin-top: 20vh;
    /* pointer-events: none; */
}
.navigation ul li.curriculum:hover,
.navigation ul li.curriculum.hovered {
    filter: drop-shadow(0px 0px 8px var(--flecha));
    text-shadow: 0px 0px 3px var(--flecha);
    color: var(--blanco);
}

.navigation ul li.curriculum a:hover,
.navigation ul li.curriculum.hovered a {
    color: var(--sub-tittle);
}



.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 3.5vw;
    height: 5vh;
    line-height:58px;
    text-align: start;
    white-space: nowrap;
    font-size: 1.12rem;
}

.image-container { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; width: 100%; 
} 
.hexagon { 
    max-width: 100%; 
    height: auto; 
} 
.left { 
    align-self: flex-start; 
} 
.right { 
    align-self: flex-end; 
}

article{
    color: #ffffff;
}

/*INTRO*/
#intro{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: auto;
    padding: 0;
    
}

/* Artículo del texto */
#introText {
    flex: 1; /* Permite que el artículo del texto ocupe el espacio disponible */
    max-width: 40%; /* Limita el ancho máximo del texto */
    margin-left: 1vw; /* Espacio entre el texto y la imagen */
    text-align: left;
    font-size: 1.5vw;
    margin-top: 5vw;
    
}

#introText, #introText h1, #introText button {
    margin-bottom: 1rem; /* Añade espacio inferior a cada elemento */
    
}
#introText p, #introText h1, #introText button {
     /* Añade espacio inferior a cada elemento */
    font-family: 'Text';
}

#sub {
    margin-bottom: 1.8vw;
}
#introText p {
    margin-top: 0.4rem; /* Espacio superior para los párrafos */
    
}

#introText h1 {
    margin-bottom: 3rem; /* Espacio superior para el encabezado */
}

#introText button {
    margin-top: 1.5rem; /* Espacio superior para los botones */
    padding: 0.5rem 1rem; /* Añade padding a los botones para mejor apariencia */
}


#greeting {
    color: #f6f09c;
    font-size: 3vw;;
}

.whoAmI {
    font-family: 'Tittle';
    font-size: 4vw;;
    display: flex;
    gap: 0.8vw;

}

#name{
    color: #ffe44b;
}

#dev {
    font-size: 2.5vw;
}


.button1 , .button2  {
    
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    font-size: 1.3vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5vw;
}

.button1 {
    background-color: #eefb03 ;
    
}

.button2  {
    background-color: #a1e3d9;
    
}
.button1:hover,.button2:hover  {
    filter: drop-shadow(0px 0px 10px var(--flecha));
}
/* Artículo de la imagen */
#introImg {
    flex: 1; /* Permite que el artículo de la imagen ocupe el espacio disponible */
    max-width: 60%; /* Limita el ancho máximo de la imagen */
    margin-right: 0;
    margin-top: 7.5vw;
    align-items: flex-end;
}
#introImg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 18%;
    height: 100vh;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
    /* Asegura que el gradiente no interfiera con las interacciones */
    
}

/* Imagen responsiva */
#introImg img {
    max-width: 92%; /* La imagen no excederá el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    width: 55vw;
    z-index: 100;
    
}

/* RESPONSIVE INTRO */
@media (max-width: 768px) {
    #intro {
        flex-direction: column; /* Apila los artículos en columnas en lugar de filas */
        align-items: flex-start; /* Alinea los artículos al inicio en lugar del centro */
        width: auto;
    }
    #introText, #introImg {
        max-width: 100%; /* Permite que los artículos ocupen el ancho completo */
        margin-right: 0;
        margin-bottom: 1rem; /* Espacio entre los artículos apilados */
    }
}

/*ABOUT ME*/

#aboutMe{
    display: flex;
    flex-wrap: wrap;
    
    text-align: left;
    height: auto;
    width: 100vw;
    padding: 0;
}

.aboutMeImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    
}

.aboutMeImg img {
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    width: 32vw;
}


.presentation{
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 35vw;
    
}

.presentation h2 {
    font-family: "Text";
    font-size: 2.5vw;
}

.presentation h3 {
    font-family: "SubText";
    font-size: 1.9vw;
    color :#eefb03;
}



.aboutMeText{
    display: flex;
    flex-direction: column;
    flex: 1; /* Permite que el artículo del texto ocupe el espacio disponible */
    max-width: 50%; /* Limita el ancho máximo del texto */
    margin-left: 6vw; /* Espacio entre el texto y la imagen */
    text-align: left;
    font-size: 1.5vw;

    margin-right: 0vw;
    justify-content: center;
    
    
}

.aboutMeText::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 12%;
    height: 100vh;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
    /* Asegura que el gradiente no interfiera con las interacciones */
    
}

.aboutMeText::after {
    content: '';
    position: absolute;
    
    top: 0;
    right: 49.2vw;
    width: 12%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
    /* Asegura que el gradiente no interfiera con las interacciones */
}
.aboutMeText h4 {
    font-family: "Tittle";
    color: #a1e3d9;
    font-size: 5vw;
}
.aboutMeText p {
    font-family: "Text";
}
.aboutMeText div {
    margin-top: 1vw;
    margin-bottom: 1vw;
    z-index: 1;
}

.button3  {
    background: linear-gradient(to right, #05323b, #038e9c);
    color: #b7eff6;
    padding: 10px 10px;
    border: none;
    border-radius: 18px;
    font-size: 1.3vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5vw;
    font-family: "Text";
    text-align: center;
    z-index: 1;  
}

/*RESPONSIVE ABOUT ME*/

@media (max-width: 768px) {
    #aboutMe {
        flex-direction: column-reverse;
        align-items: center;
        
        
    }

    .aboutMeImg {
        margin-left: 0;
    }

    .aboutMeImg img {
        width: 90vw; /* Ajuste de tamaño para pantallas pequeñas */
    }

    .aboutMeText {
        max-width: 90%;
        margin-left: 0;
        text-align: center;
    }

    .presentation {
        padding: 2vw;
    }

    .presentation h2 {
        font-size: 4vw;
    }

    .presentation h3 {
        font-size: 3vw;
    }

    .aboutMeText h4 {
        font-size: 7vw;
    }

    .aboutMeText p, .aboutMeText div, .button3 {
        font-size: 3vw;
    }
}

/*MISSION AND VISION */
#missionVision {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    
    
}

#missionVision h4 {
    font-family: "Tittle";
    font-size: 4.5vw;
    color: #a1e3d9;
}
#missionVision p {
    font-family: "Text";
    font-size: 1.3vw;
    color: white;
    text-align: left;
}

#missionVision h4, div  {
    margin-bottom: 2rem; 
}
#mission {
    display: flex;
    flex-direction: column;
    width: 50%; 
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 2vw;
    
    
    
}
#mission h4 {
    padding-top: 2vw;

    
}
#mission img {
    padding-top: 1vw;
    padding-left: 7vw;
    
}

#vision {
    display: flex;
    flex-direction: column;
    width: 50%; 
    align-items: flex-start;
    justify-content: center;
    text-align: right;
}

#vision p {
    text-align: right;
    
}

#vision img {
    align-self: center;
    padding-bottom: 2vw;
}

#vision::after {
    content: '';
    position: absolute;
    right: 37vw;
    width: 12%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
    /* Asegura que el gradiente no interfiera con las interacciones */
}

/* --------PRINCIPLESS--------PRINCIPLESS--------PRINCIPLESS */


#principles{
    display: grid;
    grid-template-columns: 1fr .5fr 1fr; /* 3 columnas de igual tamaño */
    grid-template-rows: auto auto auto; /* 3 filas de altura automática */
    grid-template-areas: 
        "head head head"
        "body1 body2 body3"
        "foot1 foot2 foot3"; 
    gap: 1vw;  
    width: 95vw;
    height: 80vh;
    align-items: start;
    transition: 2.5s;
    /* margin-left: 2vw;
    margin-right: 2vw; */
}

#principles p{
    color: var(--blanco);
    font-size: 1.2vw;
    transition: 2.5s;
}

.head {
    grid-area: head;
    padding: 0px;
    font-family: "Tittle";
    text-align: center;
    font-size: 5vw;
    margin-bottom: 2vw;
    color: #eefb03 ;
    
}

.body1 {
    grid-area: body1;
    padding: 0px;
    text-align: center;
    
    transition: 2.5s;
}
.body1 h5, .body2 h5, .body3 h5, .foot1 h5, .foot3 h5 {
    color: #a1e3d9;
    
    margin-bottom: 1.1vh;
    font-size: 3vw;
    font-family: "Text";
    transition: 2.5s;
}

.body1 p, .body2 p, .body3 p, .foot1 p, .foot3 p {
    color: white;
    
    margin-bottom: 1.1vh;
    font-size: 3.5vw;
    font-family: "Text";
    transition: 2.5s;
}

.body1 p{
    display: none;

}
.body1:hover p{
    display: grid;
    transition: 1.5s;
}

.body2 {
    grid-area: body2;
    padding: 0px;
    text-align: center;

    transition: 2.5s;
}
.body2 p{
    display: none;
}
.body2:hover p{
        display: grid;
        transition: 2.5s;
}

.body3 {
    grid-area: body3;
    padding: 0px;
    text-align: center;

    transition: 2.5s;
}
.body3 p{
    display: none;
}
.body3:hover p{
    display: grid;
    transition: 2.5s;
}
.foot1 {
    grid-area: foot1;
    padding: 0px;
    text-align: right;

    transition: 2.5s;
}
.foot1 p{
    display: none;
    text-align: center;
}
.foot1:hover p{
    display: grid;
    padding-left: 20vw;
}

.foot2 {
    display: none;
    grid-area: foot2;
}

.foot3 {
    grid-area: foot3;
    padding: 0px;
    text-align: left;
    transition: 2.5s;
}
.foot3 p{
    display: none;
}
.foot3:hover p{
    display: grid;
    text-align: center;
    padding-right: 18vw;
}

/* --------PROJECTS--------PROJECTS--------PROJECTS */

#projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto; /* Añadir una fila más para el botón */
    grid-gap: 2vw;
    width: 95vw;
    height: auto;
    align-items: start;
}

#projects .button4 {
    background: linear-gradient(to right, #05323b, #038e9c);
    color: #b7eff6;
    grid-column: 1 / -1; /* Que ocupe toda la fila */
    justify-self: center; /* Centrar horizontalmente */
    margin-top: 2vw; /* Añadir espacio superior */
    padding: 10px 20px; /* Ajustar tamaño del botón */
    font-size: 1.5vw;
    background-color: #a1e3d9;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#projects .button4:hover {
    background-color: #89c2b5;
}

#projects .button4 a {
    
    text-decoration: none;
    color: white;
    font-family: "Tittle";
}


#projects .head3 {
    text-align: left;
    font-family: "Tittle";
    color: #a1e3d9;
    font-size: 6vw;
    margin-bottom: 1vw;
    grid-column: 1 / -1; /* Asegúrate de que ocupe toda la fila */
}
#projects div img {
    width: 25vw;
}
#projects .text {
    text-align: left;
    
    color: var(--blanco);
    font-size: 1.2vw; /* Ajusta el tamaño de la fuente según tus necesidades */
    display: block; /* Asegúrate de que el texto esté configurado para mostrarse */
    margin-bottom: 1vw; /* Añadir margen inferior para separación */
    grid-column: 1 / -1;
}

#projects .text p {
    font-family: "Text";
    font-size: 1.7vw;
}


#projects article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    width: 100%;
}

#projects .project1, 
#projects .project2, 
#projects .project3 {
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: transform 0.5s;
}

#projects .project1:hover,
#projects .project2:hover,
#projects .project3:hover {
    transform: scale(1.05);
}

#projects img {
    width: 100%;
    height: auto;
    display: block;
}

#projects h4, 
#projects .text1 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#projects .project1:hover h4, 
#projects .project1:hover p,
#projects .project2:hover h4,
#projects .project2:hover p,
#projects .project3:hover h4,
#projects .project3:hover p {
    display: block;
    transition: 0.5s;
}



/* --------EXPERTISE--------EXPERTISE--------EXPERTISE */

#expertise{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr; /* 3 columnas de igual tamaño */
    grid-template-rows: auto auto auto auto; /* 3 filas de altura automática */
    grid-template-areas: 
        "head2 head2 head2 head2"
        "body4 body5 body6 body7"
        "foot4 foot5 foot6 foot7  "; 
    gap: 1vw;  
    width: 95vw;
    height: 80vh;
    align-items: start;
    transition: 2.5s;
    /* margin-left: 2vw;
    margin-right: 2vw; */
}

.head2 {
    grid-area: head2;
    padding: 0px;
    font-family: "Tittle";
    text-align: center;
    font-size: 5vw;
    margin-bottom: 2vw;
    color: #a1e3d9 ;
    
}

.body4 h5, .body5 h5, .body6 h5, .body7 h5, .foot4 h5, .foot5 h5,.foot6 h5,.foot7 h5 {
    color: white;
    
    margin-bottom: 1.1vh;
    font-size: 1.5vw;
    font-family: "Text";
    transition: 2.5s;
}

.body4 img, .body5 img, .body6 img, .body7 img, .foot4 img, .foot5 img,.foot6 img,.foot7 img {
    width: 12vw;
}




#services {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    width: 95vw;
    height: auto;
    align-items: center;
}

#services h4 {
    font-family: "Tittle";
    font-size: 6em;
    text-align: left;
    color: #a8dadc;
    margin-bottom: 40px;
    grid-column: 1 / -1;
}

#services article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, ); /* Ajustar altura mínima */
    grid-gap: 5vw;
    width: 100%;
}

#services article div {
    background-color: #1a2238;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 255, 255, 0.5); /* Añadir efecto de resplandor */
    padding: 20px;
    margin-left: 5vw;
    text-align: center;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%; /* Permitir que la altura del div se ajuste automáticamente */
}

#services article div:hover {
    transform: scale(1.05);
}

#services article div img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

#services article div h3 {
    font-size: 2em;
    color: #a8dadc;
    margin-bottom: 20px;
    font-family: "Text";
}

#services button {
    font-family: "Text";
}

.button5 {
    background-color: #457b9d;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button5:hover {
    background-color: #1d3557;
}

.button5 a {
    color: inherit;
    text-decoration: none;
}

.button6 {
    background: linear-gradient(to right, #05323b, #038e9c);
    color: #b7eff6;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 40px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    grid-column: 1 / -1;
    justify-self: center;
}

.button6:hover {
    background-color: #1d3557;
}

#projects {
    margin-top: 40px;
}
