#aboutMe {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 100vw;
    padding: 0;
}

.aboutMeImg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-left: 3vw;
    position: relative;
}

.aboutMeImg img {
    max-width: 100%;
    height: auto;
    width: 32.3vw;
}

.presentation {
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 1vw;
}

.presentation h2 {
    font-family: "Text";
    font-size: 2.5vw;
    margin: 0;
}

.presentation h3 {
    font-family: "SubText";
    font-size: 1.9vw;
    color: #eefb03;
    margin: 0;
}

.aboutMeText {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
    margin-left: 6vw;
    text-align: left;
    font-size: 1.5vw;
    margin-top: 5vw;
}

.aboutMeText h4 {
    font-family: "Tittle";
    color: #a1e3d9;
    font-size: 5vw;
}

.aboutMeText p {
    font-family: "Text";
}

.aboutMeText div {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.button3 {
    background: linear-gradient(to right, #05323b, #038e9c);
    color: #b7eff6;
    padding: 10px 10px;
    border: none;
    border-radius: 18px;
    font-size: 1.3vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5vw;
    font-family: "Text";
    text-align: center;
}

@media (max-width: 768px) {
    #aboutMe {
        flex-direction: column;
        align-items: center;
    }

    .aboutMeImg {
        margin-left: 0;
    }

    .aboutMeImg img {
        width: 90vw; /* Ajuste de tamaño para pantallas pequeñas */
    }

    .aboutMeText {
        max-width: 90%;
        margin-left: 0;
        text-align: center;
    }

    .presentation {
        padding: 2vw;
    }

    .presentation h2 {
        font-size: 4vw;
    }

    .presentation h3 {
        font-size: 3vw;
    }

    .aboutMeText h4 {
        font-size: 7vw;
    }

    .aboutMeText p, .aboutMeText div, .button3 {
        font-size: 3vw;
    }
}
